.editor_container_div {
   display: grid;
   grid-template-rows: 1fr auto;
   height: 100%;
}

.status_bar_div {
   height: 32px;
   line-height: 32px;
   padding: 0 12px;
   background: #f5f5f5;
   border-top: 1px solid #ccc;
   font-size: 14px;
   color: #333;
}


.status_btn {
   border: none;
   padding: 0;
   cursor: pointer;
}

.status_btn:hover {
   background: lightgray;
}
